@model EnvironmentalSite


@{
    ViewBag.Title = "Environmental site inspection audit";
}


<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Environmental site Audit</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Information Captured</h2>
                        <div class="clearfix"></div>
                    </div>
                    

                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("EnvironmentalSiteAudit", "EnvironmentalSiteAudit", FormMethod.Post))


                        @*<form id="BusniessDetailsForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="HealthSafetyAudit" asp-action="HealthSafetyAudit" method="post">*@
                        {
                            <div class="item form-group">
                                <label asp-for="teamLeader" class="col-form-label col-md-3 col-sm-3 label-align">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="teamLeader" id="teamLeader" name="teamLeader" class="form-control">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label asp-for="teamOperatives" class="col-form-label col-md-3 col-sm-3 label-align">
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="teamOperatives" id="teamOperatives" name="teamOperatives" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="dateTime" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="dateTime" id="dateTime" name="dateTime" class="date-picker form-control" placeholder="dd-mm-yyyy">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="vehicleReg" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="vehicleReg" id="vehicleReg" name="vehicleReg" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="inspectedBy" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="inspectedBy" id="inspectedBy" name="inspectedBy" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="contractNumber" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="contractNumber" id="contractNumber" name="contractNumber" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="location" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="location" id="contractNumber" name="contractNumber" class="form-control" type="text">
                                </div>
                            </div>
                            //Audit questions Vehicle
                            <div class="x_title">
                                <h2>Audit Questions Vehicle</h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 0; i < 6; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "No evidence of compliance")
                                            <label class="form-check-label" for="inlineRadio1">No evidence of compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Minimal compliance")
                                            <label class="form-check-label" for="inlineRadio1">Minimal compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Almost fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Almost fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "N/A")
                                            <label class="form-check-label" for="inlineRadio1">N/A</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }

                            //Audit question Plant
                            <div class="x_title">
                                <h2>Audit Questions Plant</h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 6; i < 13; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "No evidence of compliance")
                                            <label class="form-check-label" for="inlineRadio1">No evidence of compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Minimal compliance")
                                            <label class="form-check-label" for="inlineRadio1">Minimal compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Almost fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Almost fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "N/A")
                                            <label class="form-check-label" for="inlineRadio1">N/A</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }

                            //Audit question Housekeeping
                            <div class="x_title">
                                <h2>Audit Questions Housekeeping</h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 13; i < 16; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "No evidence of compliance")
                                            <label class="form-check-label" for="inlineRadio1">No evidence of compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Minimal compliance")
                                            <label class="form-check-label" for="inlineRadio1">Minimal compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Almost fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Almost fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "N/A")
                                            <label class="form-check-label" for="inlineRadio1">N/A</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }

                            //Audit question COSHH
                            <div class="x_title">
                                <h2>Audit Questions COSHH</h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 16; i < 22; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "No evidence of compliance")
                                            <label class="form-check-label" for="inlineRadio1">No evidence of compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Minimal compliance")
                                            <label class="form-check-label" for="inlineRadio1">Minimal compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Almost fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Almost fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "N/A")
                                            <label class="form-check-label" for="inlineRadio1">N/A</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }

                            //Audit question Spoil
                            <div class="x_title">
                                <h2>Audit Questions Spoil</h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 22; i < 25; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "No evidence of compliance")
                                            <label class="form-check-label" for="inlineRadio1">No evidence of compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Minimal compliance")
                                            <label class="form-check-label" for="inlineRadio1">Minimal compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Almost fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Almost fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "N/A")
                                            <label class="form-check-label" for="inlineRadio1">N/A</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }

                            //Audit question Others
                            <div class="x_title">
                                <h2>Audit Questions Others</h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 25; i < Model.auditQuestionsLst.Count(); i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "No evidence of compliance")
                                            <label class="form-check-label" for="inlineRadio1">No evidence of compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Minimal compliance")
                                            <label class="form-check-label" for="inlineRadio1">Minimal compliance</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Almost fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Almost fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Fully compliant")
                                            <label class="form-check-label" for="inlineRadio1">Fully compliant</label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "N/A")
                                            <label class="form-check-label" for="inlineRadio1">N/A</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }

                            //Additional comments
                            <div class="x_title">
                                <h2>Additional Comments</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="additionalComments" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="additionalComments" id="additionalComments" name="additionalComments" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="x_title">
                                <h2>Environmental Actions and Closures</h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Number" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Number" id="Number" name="Number" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="unsafeActObserved" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="unsafeActObserved" id="score" name="unsafeActObserved" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="immediateActionTaken" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="immediateActionTaken" id="immediateActionTaken" name="immediateActionTaken" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="signature" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="signature" id="signature" name="signature" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="dateClousedOut" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="dateClousedOut" id="dateClousedOut" name="dateClousedOut" class="date-picker form-control" placeholder="dd-mm-yyyy">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="score" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="score" id="score" name="score" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="percentageScore" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="percentageScore" id="percentageScore" name="percentageScore" class="form-control" type="text">
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Signature</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>