@model GasTechnical

@{
    ViewBag.Title = "Gas Technical audit";
}


<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Gas Technical audit</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Gas Technical audit</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @using (Html.BeginForm("GasTechnicalAudit", "GasTechnicalAudit", FormMethod.Post))


                        {
                            <div class="item form-group">
                                <label asp-for="projectTitle" class="col-form-label col-md-3 col-sm-3 label-align left">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="projectTitle" id="projectTitle" name="projectTitle" required="required" class="form-control">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="projectNo" class="col-form-label col-md-3 col-sm-3 label-align left">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="projectNo" id="projectNo" name="projectNo" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="contractor" class="col-form-label col-md-3 col-sm-3 label-align left">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="contractor" id="contractor" name="contractor" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="developer" class="col-form-label col-md-3 col-sm-3 label-align left">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="developer" id="developer" name="developer" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="projectManager" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="projectManager" id="projectManager" name="projectManager" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="contractSupervisor" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="contractSupervisor" id="contractSupervisor" name="contractSupervisor" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="teamLeader" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="teamLeader" id="teamLeader" name="teamLeader" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="matesName" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="matesName" id="matesName" name="matesName" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Auditor" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Auditor" id="Auditor" name="Auditor" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="dateTime" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="dateTime" id="dateTime" name="dateTime" class="date-picker form-control" placeholder="dd-mm-yyyy">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="typeOfAudit" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="typeOfAudit" id="typeOfAudit" name="typeOfAudit" class="date-picker form-control" placeholder="dd-mm-yyyy">
                                </div>
                            </div>
                            //Audit Questions Documentation
                            <div class="x_title">
                                <h2>Audit Questions Documentation </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 0; i < 6; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Excavation
                            <div class="x_title">
                                <h2>Audit Questions Excavation </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 6; i < 13; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Mains
                            <div class="x_title">
                                <h2>Audit Questions Mains </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 13; i < 21; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].specify, new { placeholder = "Specify", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Services
                            <div class="x_title">
                                <h2>Audit Questions Services </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 21; i < 28; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].specify, new { placeholder = "Specify", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Connection/Parent Main
                            <div class="x_title">
                                <h2>Audit Questions Connection/Parent Main</h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 28; i < 33; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].specify, new { placeholder = "Specify", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Jointing
                            <div class="x_title">
                                <h2>Audit Questions Jointing</h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 33; i < 37; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].specify, new { placeholder = "Specify", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Tools & Equipment
                            <div class="x_title">
                                <h2>Audit Questions Tools & Equipment </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 37; i < 50; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2 label-align">
                                        Test Date
                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].equipmentTestingDate, new { placeholder = "Test Date", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Accreditation
                            <div class="x_title">
                                <h2>Audit Questions Accreditation </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 50; i < 56; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2 label-align">
                                        Expiry Date
                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].expiryDate, new { placeholder = "Test Date", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2 label-align">
                                        Card Number
                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].cardNumber, new { placeholder = "Card No", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Testing
                            <div class="x_title">
                                <h2>Audit Questions Testing </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 56; i < 59; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2 label-align">
                                        Start Date
                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].startDate, new { placeholder = "Test Date", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2 label-align">
                                        Finish Date
                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].finishDate, new { placeholder = "Test Date", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions Commissioning
                            <div class="x_title">
                                <h2>Audit Questions Commissioning </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 59; i < 63; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].specify, new { placeholder = "Specify", @class = "form-control" })
                                    </div>
                                </div>
                            }


                            //Audit Questions PPE
                            <div class="x_title">
                                <h2>Audit Questions PPE </h2>
                                <div class="clearfix"></div>
                            </div>
                            for (int i = 63; i < 70; i++)
                            {

                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2"></label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @*Hidden text box to get the question text*@
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].qustionText, new { @hidden = "true" })
                                        <h2 class="title">@Html.DisplayFor(m => m.auditQuestionsLst[i].qustionText)</h2>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Satisfactory")
                                            <label class="form-check-label" for="inlineRadio1">Satisfactory </label>
                                        </div>
                                        <br />
                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "Not Satisfactory ")
                                            <label class="form-check-label" for="inlineRadio1">Not Satisfactory</label>
                                        </div>
                                        <br />

                                        <div class="form-check form-check-inline">
                                            @Html.RadioButtonFor(x => x.auditQuestionsLst[i].ansawer, "NA")
                                            <label class="form-check-label" for="inlineRadio1">NA</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-2 col-sm-2">

                                    </label>
                                    <div class="col-md-7 col-sm-7 ">
                                        @Html.TextBoxFor(model => model.auditQuestionsLst[i].comments, new { placeholder = "Comments", @class = "form-control" })
                                    </div>
                                </div>
                            }



                            <div class="x_title">
                                <h2>Additional Information</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="monthlyAuditResults" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="monthlyAuditResults" id="monthlyAuditResults" name="monthlyAuditResults" class="form-control" type="text">
                                </div>
                            </div>
                            //•	Corrective Action Report Details
                            <div class="x_title">
                                <h2>Corrective Action Report Details </h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="date" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="date" id="date" name="date" class="form-control" type="date">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="sentTo" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="sentTo" id="sentTo" name="sentTo" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="remedialActionTaken" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="remedialActionTaken" id="remedialActionTaken" name="remedialActionTaken" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="replyDate" class="col-form-label col-md-3 col-sm-3 label-align">

                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="replyDate" id="replyDate" name="replyDate" class="form-control" type="date">
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    @*<button class="btn btn-primary" type="reset">Reset</button>*@

                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

